<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.test2.UserMapper2" >
    <resultMap id="BaseResultMap" type="com.entity.User" >
        <id column="userId" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
 
    <sql id="Base_Column_List" >
        userId, username,name
    </sql>

    <select id="getUserList" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
    </select>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE userId = #{id}
    </select>

    <insert id="add" parameterType="com.entity.User" >
        INSERT INTO
        user
        (username,age,ctm)
        VALUES
        (#{username}, #{age}, now())
    </insert>

    <update id="update" parameterType="java.util.Map" >
        UPDATE
        user
        <set>
	        <if test="user.username != null">
			   username = #{user.username},
		    </if>
		    <if test="user.name != null">
			   name = #{user.name},
		    </if>
        </set>
        WHERE
        userId = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer" >
        DELETE FROM
        user
        WHERE
        id = #{id}
    </delete>
</mapper>